@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h2>Error</h2>
<p>Sorry, an error occurred while processing your request. Please try again later or contact support.</p>


