@{
    ViewBag.Title = "About us";
    ViewBag.Message = "Welcome to Online Dell Showroom";
}

<main aria-labelledby="title">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <div class="card bg-light p-4 rounded-lg shadow mt-4">
                    <div class="card-body">
                        <h3 class="card-subtitle mb-4">@ViewBag.Message</h3>
                        <div style="text-align: justify;">
                            <img src="~/Content/Images/Contact 1.jpg" alt="Online Dell Showroom" class="img-fluid mb-4">
                            <p>Welcome to the Online Dell Showroom, your one-stop destination for discovering the latest Dell products and exploring a wide range of laptops, desktops, and accessories. Our showroom brings you the best of Dell's cutting-edge technology and innovative solutions, designed to meet your personal and business computing needs.</p>
                            <p>At Online Dell Showroom, we take pride in offering an extensive selection of high-quality laptops and desktops, tailored to suit various budgets and requirements. Whether you are a student, a professional, or a gaming enthusiast, we have the perfect Dell device to elevate your computing experience.</p>
                            <p>With a focus on delivering exceptional customer service, we are dedicated to providing expert guidance and support, ensuring you make the right choice when selecting your Dell device. Our team of knowledgeable sales experts is just a click or call away, ready to assist you with any inquiries you may have.</p>
                            <p>Thank you for choosing Online Dell Showroom. We look forward to serving you and providing an unparalleled shopping experience for all your Dell needs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
